#header {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 310px;
    background: none;
    text-align: center;
}

#inner-container {
    width:1000px;
}

#header-navigation {
    position: static;
    display: inline-block;
    margin: 16px auto 0px auto;
    left: auto;
    top: auto;
}

#header-navigation div {
    display: inline-block;
    position: static;
}

#middle {
}

#content-area {
    margin: 10px 0px 10px 10px;
    border: 2px solid;
    padding: 16px 16px 16px 16px;

    /* border styling */
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;

    /* internal styling - padding etc. */

    /* typography */
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;

    /* colors */
    border-color: #555555;
    -moz-box-shadow: 1px -1px 2px 0px #fffbf1, inset 0px 0px 6px #000;
    -webkit-box-shadow: 1px -1px 2px 0px #fffbf1, inset 0px 0px 6px #000;
    box-shadow: 1px -1px 2px 0px #fffbf1, inset 0px 0px 6px #000;

    background: rgb(49,44,32);
    background: rgba(49,44,32, 0.4);

}

#content-area h1 {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    font-weight: 200;
}

#content-area p {
    margin: 10px 10px 10px 10px;
}

#about {
    font-size: 15px;
}

#about h2 {
    font-size: 28px;
    line-height: 32px;
}

#frontpage-logo {
    background: url(../images/frontpage-logo.png) no-repeat top left;
    width: 584px;
    height: 249px;
}

#left-column {
    width: 630px;
}

#news h1 {
    font-size: 35px;
}

#news .news-more {
    text-align: right;
    margin-top: 15px;
}

#news .news-more h2{
    font-size: 24px;
}

#left-column .blog-entry {
    margin-bottom: 5px;
}

#left-column .blog-entry a {
    padding-left: 10px;
}

#right-column {
    width: 310px;
    padding: 40px 5px 20px 5px;

    border: 2px solid;
    margin: 10px 0px 10px 0px;

    /* border styling */
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;

    /* internal styling - padding etc. */

    /* typography */
    font-family: KnightsQuestRegular;
    font-size: 20px;
    text-align: left;

    /* colors */
    border-color: #555555;
    -moz-box-shadow:    0px -1px 1px #fffbf1,
                                    inset 0px 1px 2px #000,
                                    inset 0px -1px 1px #fffbf1,
                                    0px 1px 1px #000,
                                    -1px 0px 2px #000,
                                    inset 1px 0px 1px #fffbf1,
                                    inset -1px 0px 2px #000,
                                    1px 0px 1px #fffbf1;
    -webkit-box-shadow: 0px -1px 1px #fffbf1,
                                        inset 0px 1px 2px #000,
                                        inset 0px -1px 1px #fffbf1,
                                        0px 1px 1px #000,
                                        -1px 0px 2px #000,
                                        inset 1px 0px 1px #fffbf1,
                                        inset -1px 0px 2px #000,
                                        1px 0px 1px #fffbf1;
    box-shadow:     0px -1px 1px #fffbf1,
                                inset 0px 1px 2px #000,
                                inset 0px -1px 1px #fffbf1,
                                0px 1px 1px #000,
                                -1px 0px 2px #000,
                                inset 1px 0px 1px #fffbf1,
                                inset -1px 0px 2px #000,
                                1px 0px 1px #fffbf1;

    background: #3a3830; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #3a3830 0%, #23221f 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3a3830), color-stop(100%,#23221f)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #3a3830 0%,#23221f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #3a3830 0%,#23221f 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #3a3830 0%,#23221f 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #3a3830 0%,#23221f 100%); /* W3C */


}


#login form {
    border: 2px solid;
    margin: 10px 0px 20px 0px;
    padding: 12px;

    /* border styling */
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;

    /* internal styling - padding etc. */

    /* typography */
    font-family: KnightsQuestRegular;
    font-size: 20px;
    text-align: right;

    -moz-text-shadow: -1px 1px 2px #000, 1px -1px 2px #ffcf68;
    -webkit-text-shadow: -1px 1px 2px #000, 1px -1px 2px #ffcf68;
    text-shadow: -1px 1px 2px #000, 1px -1px 1px #ffcf68;

    /* colors */
    border-color: #555555;
    -moz-box-shadow:    0px -1px 1px #fffbf1,
                                    inset 0px 1px 2px #000,
                                    inset 0px -1px 1px #fffbf1,
                                    0px 1px 1px #000,
                                    -1px 0px 2px #000,
                                    inset 1px 0px 1px #fffbf1,
                                    inset -1px 0px 2px #000,
                                    1px 0px 1px #fffbf1;
    -webkit-box-shadow: 0px -1px 1px #fffbf1,
                                        inset 0px 1px 2px #000,
                                        inset 0px -1px 1px #fffbf1,
                                        0px 1px 1px #000,
                                        -1px 0px 2px #000,
                                        inset 1px 0px 1px #fffbf1,
                                        inset -1px 0px 2px #000,
                                        1px 0px 1px #fffbf1;
    box-shadow:     0px -1px 1px #fffbf1,
                                inset 0px 1px 2px #000,
                                inset 0px -1px 1px #fffbf1,
                                0px 1px 1px #000,
                                -1px 0px 2px #000,
                                inset 1px 0px 1px #fffbf1,
                                inset -1px 0px 2px #000,
                                1px 0px 1px #fffbf1;

    background: #4e4e4e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #d7d7d7 0%, #353535 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d7d7d7), color-stop(100%,#353535)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #d7d7d7 0%,#353535 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #d7d7d7 0%,#353535 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #d7d7d7 0%,#353535 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  #d7d7d7 0%,#353535 100%); /* W3C */


}

#login .form-heading {
    margin-bottom: 10px;
}

#login form p {
    filter: glow(color=#252525,strength=3);
}

#login form table {
    width: 100%;
}

#login form input[type="text"],
#login form input[type="password"] {
    width: 180px;
    text-align: left;
}

#login form input[type="submit"] {
    font-size: 24px;
    margin-top: 4px;
}

#right-column h1 {
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
}

#login-links, #signup-links {
    float: left;
    margin-top: 10px;
}

#fb-signup-links {
    float: right;
    margin-top: 10px;
}

#signup-links a {
    font-size: 24px;
}

#facebook-like {
    width: 275px;
    margin-left: 5px;
    margin-right: 5px;
}

#twitter-share {
    margin-top: 10px;
    margin-left: 5px;
}

#tweets {
    margin: 5px;
}

#tweets h1 {
    font-size: 35px;
}

p.tweet {
    margin: 5px 0px 5px 0px;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 12px;


}

#tweets .twitter-more {
    text-align: right;
}

#tweets .twitter-more h2{
    font-size: 24px;
}

.myfb_button {
    background: url("http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/FGFbc80dUKj.png") no-repeat scroll 0 0 #29447E;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    padding: 0 0 0 1px;
    text-decoration: none;
}
.myfb_button_medium {
    background-position: left -188px;
    font-size: 18px;
    line-height: 14px;
}
a.myfb_button, .myfb_button {
    text-decoration: none;
    display: inline-block !important;
    padding: 0 0 0 1px;
}
.myfb_button .myfb_button_text {
    background: url("http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/FGFbc80dUKj.png") repeat scroll 0 0 #5F78AB;
    border-bottom: 1px solid #1A356E;
    border-top: 1px solid #879AC0;
    color: white;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    margin: 1px 1px 0 21px;
    padding: 2px 6px 3px;
    text-shadow: none;
    white-space: nowrap;
}
.myfb_button {
    cursor: pointer;
}